.container {
  background-color: #111927;
  width: 100%;
  height: 100%;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.container h2 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.1;
  z-index: 200;
}

.container button {
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  background-color: #111927;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 4px;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 12px;
}

.container button svg {
  margin-right: 2px;
}

.container button:hover,
.container button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.container button:hover {
  transform: translateY(-1.5px);
}

.container button:active {
  background-color: #111927;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.circle {
  z-index: -1;
  width: 100px;
  height: 100px;
  background-image: radial-gradient(
      at 20% 37%,
      hsl(244.19, 77%, 40%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1),
.circle:nth-child(3) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-20px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(20px);
  }
}
