.section {
  width: 100vw;
  height: 100vh;
  padding: 1rem 8rem;
  z-index: 1;
  overflow: hidden;
}

.maincontainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.firstcontainer,
.secondcontainer {
  height: 48%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.firstsubcont {
  height: 100%;
  width: 59%;
  border-radius: 23px;
}
.firstsubcont > div {
  border-radius: 14px;
}
.secondsubcont {
  height: 100%;
  width: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time,
.phrase,
.contact,
.stack {
  height: 47%;
  width: 100%;
}

.time > div,
.phrase > div,
.contact > div,
.stack > div {
  border-radius: 14px;
}

.firstwrap {
  height: 100%;
  width: 29%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.secwrap {
  height: 100%;
  width: 69%;
}
.secwrap > div {
  border-radius: 14px;
}

@media screen and (min-width: 981px) and (max-width: 1400px) {
  .section {
    padding: 1rem 3.5rem;
  }
}

@media screen and (max-width: 980px) {
  .section {
    padding: 1rem 1rem;
    width: 100vw;
    min-height: 100vh;
    height: 150vh;
  }

  .maincontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .firstcontainer,
  .secondcontainer {
    height: 50%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .firstsubcont {
    width: 100%;
  }

  .secondsubcont {
    width: 100%;
    justify-content: space-evenly;
  }

  .firstwrap {
    width: 100%;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
  }

  .phrase,
  .contact {
    width: 49%;
    height: 98%;
  }
  .secwrap {
    width: 100%;
    height: 98%;
  }
}
