.aside {
  width: 100%;
  height: fit-content;
  padding: 12px 24px;
}

.aside > div > h4 {
  color: var(--color-letraclaro);
  padding: 0px 0px 12px 0px;
  font-size: var(--letra-xsmall);
}

.aside > ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.aside ul li {
  list-style: disc;
  margin-left: 16px;
}

.aside > ul > li h5 {
  margin-right: 12px;
  color: var(--color-letraazul);
  font-size: var(--letra-small);
  flex-grow: 1;
}
.aside > ul > li span {
  font-size: var(--letra-xsmall);
  color: var(--color-letrafuerte);
}

@media screen and (max-width: 750px) {
  .aside {
    padding: 6px 12px;
  }
}

@media screen and (max-width: 530px) {
  .aside {
    padding: 6px 12px;
  }
  .aside > ul {
    gap: initial;
  }
}
