.aside {
  width: 100%;
  height: fit-content;
  padding: 12px 24px;
}

.aside > div > h4 {
  color: var(--color-letraclaro);
  padding: 0px 0px 12px 0px;
  font-size: small;
}

.aside > ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.aside ul li {
  list-style: disc;
  margin-left: 16px;
}

.aside > ul > li h5 {
  margin-right: 12px;
  color: var(--color-letraazul);
  font-size: large;
  flex-grow: 1;
}
.aside > ul > li span {
  font-size: medium;
  color: var(--color-letrafuerte);
}
