.section {
  width: 100%;
  height: 100%;
  padding: 12px 24px;
}

.section > div > h4 {
  color: var(--color-letraclaro);
  padding: 0px 0px 12px 0px;
  font-size: small;
}

.section > ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10%;
}
.section > ul > li {
  display: flex;
  align-items: baseline;
}
.section > ul > li h5 {
  margin-right: 12px;
  color: #fff;
  font-size: large;
  flex-grow: 1;
}

.section > ul > li:first-child h5 {
  font-size: x-large;
}
.section > ul > li span {
  color: var(--color-letrafuerte);
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
}
