.container {
  min-height: 75vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.container h2 {
  text-align: center;
  color: darkslategray;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 400;
}

.subcontainer {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-top: 60px;
  width: 75%;
  color: #282828;
  font-size: clamp(20px, 30px, 30px);
  letter-spacing: 3px;
  font-weight: 400;
}

.principales {
  padding-top: 15px;
  padding-bottom: 15px;
}

.principales > summary {
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
  list-style: none;
}

.principales details {
  margin-left: 2.5%;
}

.secundarios > summary {
  list-style: inside;
  cursor: pointer;
}

.secundarios p {
  margin-left: 1.5%;
  font-size: clamp(10px, 25px, 25px);
  letter-spacing: 3px;
  font-weight: 100;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container {
    min-height: auto;
    margin-top: 35px;
  }

  .subcontainer {
    width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 35px;
  }

  .subcontainer {
    width: 85%;
  }
  .secundarios p {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .secundarios summary {
    font-size: 22px;
  }
}
