.carrousel {
  min-height: 100vh;
  width: 90%;
  max-width: 120em;
  background-color: aqua;
  padding: 2em;
}

.carrousel .grande {
  width: 200%;

  background-color: orange;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;

  transition: all 0.5s ease;
  transform: rotateX(0%);
}
.carrousel .img {
  width: calc(100% / 2 - 2em);
  background-color: lime;
  min-height: 10vh;
}
.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  background-color: red;
  padding: 0.4em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.carrousel .punto {
  width: 2em;
  height: 2em;
  background-color: blue;
  margin: 1em 1em 0;
}

.carrousel .punto .activo {
  background-color: orange;
}
