.container {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #080615;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
  overflow: hidden;
  position: relative;
}

.container h2 {
  color: #f8f8f8;
  font-size: large;
  font-weight: 600;
  text-align: left;
  position: absolute;
  top: 8%;
  left: 20%;
  z-index: 99;
  width: 80%;
  transition: 1s ease-in-out;
}

.container:hover h2 {
  text-shadow: 0px 0px 1px #282828, 0px 0px 1px #282828, 0px 0px 1px #282828,
    0px 0px 1px #282828;
  font-size: 20px;
  letter-spacing: 1px;
  top: 20%;
  left: 12%;
}

.card {
  position: absolute;
  top: 41%;
  left: 50%;
  width: 45%;
  height: 85%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  transition: 0.5s ease-in-out;
}
.container:hover .card {
  top: 39%;
  left: 52%;
  transform: rotate(7deg);
}

.card > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card div div {
  background-color: rgba(255, 255, 255, 0.125);
}
.uno {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-radius: 50%;
  margin: 2px 6px 0px 0px;
}

.dos {
  border-radius: 15px;
  width: 38px;
  height: 8px;
  margin: 1px 3px;
}

.tres {
  border-radius: 15px;
  width: 28px;
  height: 8px;
  margin: 1px 3px;
}

.cuatro {
  border-radius: 15px;
  width: 90%;
  height: 8px;
  margin: 10px 3px 4px 3px;
}

.cinco {
  border-radius: 15px;
  width: 65%;
  height: 8px;
  margin: 1px 3px;
}

@media screen and (max-width: 980px) {
  .container h2 {
    font-size: medium;
    top: 6%;
    left: 16%;
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .container h2 {
    font-size: medium;
    top: 6%;
    left: 10%;
    width: 90%;
  }

  .container:hover h2 {
    text-shadow: none;
    letter-spacing: 1px;
    top: 8%;
    left: 8%;
    width: 92%;
    font-size: 19px;
  }
}
