.main {
  padding: 12px 24px;

  height: 100%;
  width: 100%;
}

.main > span {
  font-size: small;
  color: var(--color-letraclaro);
  padding: 6px 12px 6px 0px;
  word-spacing: 6px;
}

.main div h2 {
  font-size: xx-large;
  color: #fff;
}

.main div p {
  color: var(--color-letrafuerte);
  font-size: medium;
}
.main > div {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
