.container {
  width: 100%;
  border: 0.0625rem solid var(--border-color);
  border-radius: var(--borderradius-size);
  box-shadow: var(--box-shadow);
}
.titlecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  padding: 12px 24px 40px 24px;
  background-color: var(--color-1);
  height: calc(90px + 28px);
}

.firstcomment {
  font-size: small;
  color: var(--color-letraclaro);
}

.titlecontainer .title,
.firstcomment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  background-color: var(--color-1);
}
.title h5,
.title h4 {
  font-size: large;
  color: var(--color-letraazul);
}
.title h6 {
  font-size: large;
  color: var(--color-letraclaro);
}

.thumbnail {
  flex: 1 1 200px;
  background-color: var(--color-1);
  border-top-left-radius: var(--borderradius-size);
  border-top-right-radius: var(--borderradius-size);
}

.thumbnail img {
  border-top-left-radius: var(--borderradius-size);
  border-top-right-radius: var(--borderradius-size);
}

.loader {
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 2 1 300px;
  text-align: start;
}

.ulcontainer {
  position: relative;
}

.ulcontainer,
.update {
  border-top: 1px solid var(--border-color);
  padding: 12px 24px;
  width: 100%;
}

.infotooltip p {
  font-size: small;
  color: var(--color-letrafuerte);
  margin: 4px 0px;
}

.ulcontainer p,
.ulcontainer h6 {
  color: var(--color-letrafuerte);
  font-size: medium;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ulcontainer div p {
  font-size: small;
  color: var(--color-letraclaro);
}

.ulcontainer ul {
  display: flex;
  flex-wrap: wrap;
}

.content ul li {
  padding: 6px 12px;
  font-size: medium;
  margin: 8px;
  color: var(--color-letraazul);
  background-color: #4184e41a;
  border-radius: var(--borderradius-size);
}

.content ul li:hover {
  color: #fff;
  background-color: var(--color-letraazul);
}

.infotooltip {
  height: 29px;
  width: auto;
  font-size: small;
  color: var(--color-letrafuerte);
  position: absolute;
  top: -29px;
  left: 24px;
  background-color: var(--color-2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0px 6px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-top-left-radius: var(--borderradius-size);
  border-top-right-radius: var(--borderradius-size);
  z-index: 999;
}
