.btn {
  color: #f2f2f2;
  border: 1.5px solid whitesmoke;
  background-color: #f2f2f248;
  height: 15vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 4px;
  transition: all 0.2s ease-in-out 0ms;
}

.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.btn .link svg {
  margin-right: 8px;
}
.btn svg g g path {
  transition: all 0.2s ease-in-out 0ms;
  stroke: #f2f2f2;
}

.btn:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #dcdcdc;
  box-shadow: 0px 0px 20px -18px;
}

.btn:hover svg g g path {
  stroke: rgba(0, 0, 0, 0.8);
}

.btn:active {
  transform: scale(0.95);
  font-size: 32px;
}

.btn:active svg {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 16px;
    height: 10vh;
    margin: 8px;
  }
  .btn:active {
    font-size: 14px;
  }
}
