.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  pointer-events: all;
}
.contenedormodal {
  width: 500px;
  min-height: 100px;
  background: #f7f7f7;
  position: relative;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.encabezadomodal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.encabezadomodal h3 {
  font-weight: 400;
  font-size: 18px;
  color: #282828;
}

.botoncerrar {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 4px;
  color: #282828;
}

.botoncerrar:hover {
  background: #f2f2f2;
}

.botoncerrar svg {
  width: 100%;
  height: 100%;
}

.palette {
  display: flex;
  height: 300px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #3d3d4e;
  box-sizing: content-box;
}

.color {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.color:hover {
  flex: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
  opacity: 1;
  padding: 5px;
  background-color: #3d3d4e6f;
}
