.all {
  background: var(--color-2);
}

.allblack {
  background: #363f4a;
  background: -webkit-linear-gradient(
    to right,
    #363f4a,
    rgb(42, 50, 60),
    rgb(49, 58, 68)
  );
  background: linear-gradient(
    to right,
    #363f4a,
    rgb(42, 50, 60),
    rgb(49, 58, 68)
  );
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 1500;
  transition: 200ms ease-out;
  pointer-events: none;
}

.home {
  position: relative;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .all,
  .allblack {
    min-height: 300vh;
  }
}

@media screen and (max-width: 767px) {
  .all,
  .allblack {
    min-height: 300vh;
  }
  .cursor {
    display: none;
  }
}
