.alejoback {
  position: relative;
  height: auto;
  overflow: hidden;
  padding-left: 70px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  padding: 16px;
}

.panelizquierdoprincipal {
  height: calc(100dvh - 32px);
  width: calc(100% - (75dvw + 16px));
  border: 0.0625rem solid var(--border-color);
  border-radius: var(--borderradius-size);
  box-shadow: var(--box-shadow);
}
.panelderechoprincipal {
  min-height: calc(100dvh - 32px);
  width: 75dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.panelsuperiorsecundario,
.panelmediosecundario,
.panelinferiorsecundario {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panelinferiorsecundario {
  align-items: flex-start;
  justify-content: space-between;
}
.panelsuperiorsecundario {
  height: 40dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foto,
.stack {
  width: 40dvh;
  height: 100%;
  border: 0.0625rem solid var(--border-color);
  border-radius: var(--borderradius-size);
  box-shadow: var(--box-shadow);
}

.saludo,
.educprinc {
  width: calc(100% - (16px + 40dvh));
  height: 100%;
  border: 0.0625rem solid var(--border-color);
  border-radius: var(--borderradius-size);
  box-shadow: var(--box-shadow);
}

.panelmediosecundario {
  height: 28dvh;
}

.panelinferiorsecundario {
  min-height: 33dvh;
}
.proyectos {
  width: 50dvw;
  min-height: 33dvh;
  height: auto;
}

.infoadicional {
  height: auto;
  width: calc(100% - (50dvw + 16px));
  border: 0.0625rem solid var(--border-color);
  border-radius: var(--borderradius-size);
  box-shadow: var(--box-shadow);
}
@media screen and (max-width: 1400px) {
  .container {
    padding-left: 0px;
  }
  .foto,
  .stack {
    width: 35dvh;
  }

  .saludo,
  .educprinc {
    width: calc(100% - (16px + 35dvh));
  }
}
@media screen and (max-width: 1024px) {
  .foto,
  .stack {
    width: 25dvh;
  }

  .saludo,
  .educprinc {
    width: calc(100% - (16px + 25dvh));
  }
}

@media screen and (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    color: white;
    padding-left: 0px;
  }

  .panelderechoprincipal {
    width: 100%;
  }
  .proyectos {
    width: 60dvw;
  }
  .infoadicional {
    width: calc(100% - (60dvw + 16px));
  }
}

@media screen and (max-width: 530px) {
  .container {
    padding: 10px;
  }
  .alejoback {
    padding-left: 50px;
  }
  .panelsuperiorsecundario {
    height: 30dvh;
  }
  .panelinferiorsecundario {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
  .proyectos {
    width: 95%;
  }
  .infoadicional {
    width: 100%;
    margin-bottom: 16px;
  }

  .foto,
  .stack {
    width: 15dvh;
  }

  .saludo,
  .educprinc {
    width: calc(100% - (16px + 15dvh));
  }
}
