.alejoback {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
/*
.alejoback::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../../public/blurry_gradient_1.svg);
}
*/
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  top: 0;
  left: 0;
  color: white;
  padding-left: 100px;
}

@keyframes animateWords {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.conth1 {
  z-index: 999;
}

.h1 {
  font-size: 2.8em;
}

.h1 > .span {
  position: relative;
  display: inline-block;
  color: #ed242b;
  height: 1.25em;
  vertical-align: bottom;
  overflow: hidden;
}

.span > .span {
  display: block;
  animation: animateWords 8s infinite ease;
}
/*
.image {
  width: 400px;
  height: 550px;
}

.img {
  position: relative;
  width: 800px;
  height: 600px;
  background-size: cover;
  background-image: url("../../../public/ultimamancha.png");
}

.img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/fotocuadrada.jpg");

  background-size: cover;
  background-position: center;
  mix-blend-mode: screen;
}
*/
/* styles.module.css */

.imgcontainer {
  width: 100vh;
  right: 0;
}

.mainImage {
  height: 75%;
  object-fit: cover;

  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}
