.alejoback {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.setting {
  position: absolute;
  top: 38%;
  left: 75%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  top: 0;
  left: 0;
  color: white;
}

.conth1 {
  z-index: 999;
  position: absolute;
  width: 200vw;
  height: 100vh;
  overflow-x: visible;
}

.conth1 > h2 {
  transform: translateX(-70vw);
}

.h1 {
  font-size: 190px;
  font-weight: 900;
  color: #f2f2f210;
  user-select: none;
}
.contmain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 8%;
  width: 70%;
  height: 90vh;
}

.conttext {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.conttext h2 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}

.conttext h2 > b {
  letter-spacing: 4px;
}

.conttext h3 {
  text-align: left;
  font-size: xx-large;
  margin-top: 10px;
}

.button {
  z-index: 999;

  background-color: #111927f7;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 4px;
  transition: all 250ms;
  touch-action: manipulation;
  margin-top: 3%;
  margin-bottom: 4%;
  cursor: pointer;
  font-size: x-large;
  font-weight: 300;
  word-spacing: 3px;
  padding: 17px 26px;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1.5px);
}

.button:active {
  background-color: #111927;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .alejoback {
    height: 70vh;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 70vh;
    top: 0;
    left: 0;
    color: white;
    padding-left: 0px;
  }

  .imgcontainer {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .mainImage {
    aspect-ratio: 1 /1;
    object-fit: cover;
    clip-path: none;
    border: 2px solid black;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }

  .h1 {
    font-size: 1.5em;
  }

  .h1 > .span {
    color: rgb(235, 60, 66);
  }
}
