.container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 65px;
  padding-right: 65px;
}

.container h2 {
  text-align: center;
  color: #f2f2f2;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 400;
}

.container h4 {
  text-align: center;
  color: #e5e5e5;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-left: 60px;
  margin-right: 60px;
}

.card {
  width: 70%;
  height: 80%;
  border-top: 2px solid #ffffff75;
  border-left: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff25;
  border-radius: 8px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  padding: 15px;
}

.btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 400;
  padding: 15px 25px 15px 25px;
  color: #f2f2f2;
  font-size: 25px;
  letter-spacing: 2px;
}

.link h5 {
  margin-left: 3em;
  transition: 0.1s ease-in-out;
}

.link:hover h5 {
  scale: 1.1;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5),
    1px 1px 1px rgba(160, 160, 160, 0.4), 1px 1px 1px rgba(160, 160, 160, 0.1);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #e5e5e5;
}

.svgcontainer {
  min-width: 8px;
  min-height: 8px;
  display: inline-block;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.animatedCard {
  animation-duration: 1s;
  animation-name: animatedCard;
}

@keyframes animatedCard {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container h4 {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container h4 {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .card {
    padding: 1px;
  }

  .link {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 15px 10px 15px;
  }
  .link h5 {
    font-weight: 500;
  }

  .email {
    font-size: 12px;
    margin-left: 1em;
  }

  .link svg {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 90%;
  }
}
