.container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 65px;
  padding-right: 65px;
}

.container h2 {
  text-align: center;
  color: darkslategray;

  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 400;
}

.container h4 {
  text-align: center;
  color: #282828;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-left: 60px;
  margin-right: 60px;
}

.card {
  width: 90%;
  height: 80%;
  border-top: 2px solid #ffffff75;
  border-left: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff25;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  padding: 15px;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 400;
  padding: 15px 25px 15px 25px;
  color: #282828;
  font-size: 25px;
  letter-spacing: 2px;
}

.link h5 {
  margin-left: 3em;
  transition: 0.1s ease-in-out;
}

.link h5:hover {
  scale: 1.1;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5),
    2px 2px 2px rgba(160, 160, 160, 0.4), 3px 3px 3px rgba(160, 160, 160, 0.1);
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.card {
  view-timeline-name: --card;
  view-timeline-axis: block;
  animation-timeline: --card;
  animation-name: show;

  animation-range: entry 20% cover 30%;
  animation-fill-mode: both;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container h4 {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container h4 {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .link {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .email {
    font-size: 12px;
    margin-left: 1em;
  }

  .link svg {
    width: 25px;
    height: 25px;
  }
}
