.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 5px 55px;
  z-index: 1000;
  padding-top: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease-in-out;
  padding: 3.5px 45px;
  background-color: #4f6cff79;
  backdrop-filter: blur(3px);
  z-index: 1000;
  padding-top: 10px;
}

.hidden {
  position: fixed;
  top: -150px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease-in-out;
  padding: 3.5px 45px;
  background-color: #4f6cff79;
  backdrop-filter: blur(3px);
  z-index: 1000;
  padding-top: 10px;
}

.logo {
  position: relative;
  font-weight: 600;
  color: #6f41ff;
  text-decoration: none;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  cursor: pointer;
  display: flex;
}

.logo span {
  margin-left: 10px;
  padding-top: 5px;
}

.list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li {
  position: relative;
  list-style: none;
}

.list li a {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  color: #4f6dff;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}

.list li a:after {
  content: "";
  position: absolute;
  background-color: #3e84ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.list li a:hover:after {
  width: 100%;
}

.sticky .logo,
.sticky ul li a {
  color: #fff;
}
