.container {
  background-color: var(--color-2);
  position: fixed;
  top: 0;
  left: 0;
  width: 64px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 18px 35px;
  z-index: 1000;
}

.container span {
  color: var(--color-letraclaro);
}

.logo {
  position: relative;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  cursor: pointer;
  display: flex;
}

.logo span {
  margin-left: 10px;
  padding-top: 5px;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  touch-action: pan-left;
  gap: 6px;
}

.list li {
  position: relative;
  list-style: none;
}

.list li a:after {
  content: "";
  position: absolute;
  background-color: #111928;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.list li a:hover:after {
  width: 100%;
}

.modoclarooscuro {
  color: var(--color-letraclaro);
  font-size: x-small;
  text-align: center;
}

.sticky .logo,
.sticky ul li a {
  color: #fff;
}

.switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 8px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
}

.switch:checked {
  background-color: rgba(32, 151, 243, 1);
}

.switch::before {
  position: absolute;
  content: "";

  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  background-color: var(--color-letraclaro);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(32, 151, 243, 0.15);
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: rgba(32, 151, 243, 1);
  content: "☀️";
}

.checkbtn {
  font-size: 30px;
  color: whitesmoke;
  order: 4;
  cursor: pointer;
  display: none;
}

.check {
  display: none;
}

.list li a svg {
  display: block;
}
.list li a span {
  display: none;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .list li a {
    font-size: 16px;
    color: #fff;
  }

  .container {
    background-color: none;
  }
}

@media screen and (max-width: 767px) {
  .container,
  .hidden,
  .sticky {
    padding: 3.5px 15px;
    width: calc(100%);
    color: whitesmoke;
  }

  .logo span {
    margin-left: 2px;
  }

  .checkbtn {
    display: block;
  }

  .list {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #282828d7;
    top: 45px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .list li {
    display: block;
    margin: 20px 0;
    line-height: 20px;
    margin-left: 25%;
  }

  .list li:last-child {
    margin-left: 0px;
    display: flex;
    align-self: center;
  }

  .list li a {
    font-size: 20px;
    color: whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .list li a svg {
    display: block;
    margin-right: 10px;
  }

  .list li a:hover,
  .list li a.active {
    background: none;
    color: #29a2ff;
  }

  .check:checked ~ .list {
    left: 0;
  }
}
