.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 5px 35px;
  z-index: 1000;
  padding-top: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease-in-out;
  padding: 3.5px 45px;
  background-color: #4f6cff79;
  backdrop-filter: blur(3px);
  z-index: 1000;
  padding-top: 10px;
}

.hidden {
  position: fixed;
  top: -150px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease-in-out;
  padding: 3.5px 45px;
  background-color: #4f6cff79;
  backdrop-filter: blur(3px);
  z-index: 1000;
  padding-top: 10px;
}

.logo {
  position: relative;
  font-weight: 600;
  color: #6f41ff;
  color: #e2f8ff;
  text-decoration: none;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  cursor: pointer;
  display: flex;
}

.logo span {
  margin-left: 10px;
  padding-top: 5px;
}

.list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li {
  position: relative;
  list-style: none;
}

.list li a {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
  font-size: 1.05rem;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}

.list li a:after {
  content: "";
  position: absolute;
  background-color: #3e84ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.list li a:hover:after {
  width: 100%;
}

.sticky .logo,
.sticky ul li a {
  color: #fff;
}

.switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
}

.switch:checked {
  background-color: rgba(32, 151, 243, 1);
}

.switch::before {
  position: absolute;
  content: "☀️";

  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(32, 151, 243, 0.15);
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: rgba(32, 151, 243, 1);
  content: "🌙";
}

.checkbtn {
  font-size: 30px;
  color: whitesmoke;
  order: 4;
  cursor: pointer;
  display: none;
}

.check {
  display: none;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .list li a {
    font-size: 16px;
    color: #fff;
  }

  .container {
    background-color: #4f6cff79;
  }
}

@media screen and (max-width: 767px) {
  .container,
  .hidden,
  .sticky {
    padding: 3.5px 15px;
    width: calc(100%);
    color: whitesmoke;
  }

  .logo span {
    margin-left: 2px;
  }

  .checkbtn {
    display: block;
  }

  .list {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #282828d7;
    top: 45px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
  }

  .list li {
    display: block;
    margin: 30px 0;
    line-height: 20px;
  }

  .list li a {
    font-size: 20px;
    color: whitesmoke;
  }

  .list li a:hover,
  .list li a.active {
    background: none;
    color: #29a2ff;
  }

  .check:checked ~ .list {
    left: 0;
  }
}
