.carousel_item {
  position: relative;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-color: #fff;
}

.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel_img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0 20px 0 20px;
}

.carousel_item_text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}
