.footer {
  min-height: 10vh;
  margin-top: 35px;

  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-letrafuerte);
  font-size: var(--letra-xsmall);
  letter-spacing: 1.5px;
  padding: 10px;
  text-align: center;
}
.alejo {
  font-size: var(--letra-xsmall);
  letter-spacing: 1.6px;
}

@media screen and (max-width: 425px) {
  .footer {
    font-size: 12px;
  }
  .alejo {
    font-size: 13px;
  }
}
