.container {
  width: 100%;
  height: 100%;
  background: rgb(17, 25, 40);
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  color: #f1f1f1;
  position: relative;
  overflow: hidden;
}

.container:hover {
  color: white;
}

.layout {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 70%, #111927b9 30%);
}

.secondlayout {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  background-color: #e5e5f700;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 10%,
      transparent 10%
    ),
    radial-gradient(rgba(255, 255, 255, 0.2) 10%, transparent 10%);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
}

.text {
  position: absolute;
  width: 40%;
  height: 70%;
  top: 30%;
  left: 8%;
}

.text span {
  letter-spacing: 2px;
  word-spacing: 4px;
}

.text h2 {
  font-size: xx-large;
}

.card {
  position: absolute;
  width: 50%;
  height: 58%;
  bottom: 1%;
  left: 51%;
  backdrop-filter: blur(4px) saturate(160%);
  -webkit-backdrop-filter: blur(4px) saturate(160%);
  background-color: rgba(17, 25, 40, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.card ul {
  width: auto;
  margin-right: 10px;
  color: #f1f1f171;
}

.card ul li {
  width: 10%;
}

.comment {
  color: #f1f1f171;
}

.primertexto {
  display: flex;
}

.primertexto p {
  margin-right: 6px;
}

.brakets {
  color: #f1f1f171;
}

.rojo {
  color: crimson;
}
.morado {
  color: blueviolet;
}
.naranja {
  color: chocolate;
}

.card:hover {
  transform: rotateX(20deg) perspective(350px) translateY(-5%) translateZ(0);
}

@media screen and (max-width: 550px) {
  .text {
    top: 10%;
  }

  .text span {
    font-size: x-small;
  }

  .text h2 {
    font-size: large;
  }
}
